<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
</head>
<body>
    <h1>{{ .Title }}</h1>

    {{ $data := getCSV "," "csv/project/Test.csv" }}
    {{ $currentChapitre := "" }}

    <div>
    {{ range $data }}
        {{ $chapitre := index . 0 }}
        {{ $paragraphe := index . 1 }}
        {{ $contenu := index . 2 }}

        {{ if ne $chapitre $currentChapitre }}
            {{ if ne $currentChapitre "" }}
                </ul>
            {{ end }}
            <h2>{{ $chapitre }}</h2>
            <ul>
            {{ $currentChapitre = $chapitre }}
        {{ end }}

        <li><strong>{{ $paragraphe }}:</strong> {{ $contenu }}</li>
    {{ end }}
 
    </ul>
    </div>
</body>
</html>
